@charset "utf-8";
/*BOURDEL Raphaël*/

/* Slider -------------------*/

#carouselExampleSlidesOnly{
	border-top:solid 4px #C16117;
	border-bottom:solid 4px #C16117;
}

.carousel-caption{
	color:#C16117;
}

/* Centrale ----------------*/

#centrale h2{
	color:#C16117;
}