@charset "utf-8";
/*BOURDEL Raphaël*/

/* Map -------------------*/

#map{
	border-top:solid 4px #C4C1C1;
	border-bottom:solid 4px #C4C1C1;
	margin-top:65px;
}

/* Bouton form ------------*/

#coordonees{
	text-align: center;
	margin: 20px  0 50px;
}

#coordonees span{
	font-size: 2rem;
	vertical-align: middle;
}

#coordonees h5{
	display: inline-block;
	font-size: 15px;
}

.btncoo{
	width: 20%;
	border-radius: 15px;
	margin: auto;
	background-color: #C4C1C1;
	transition: 0.5s;
}

.btncoo:hover{
	background-color: #979292;
}

#coordonees span, #coordonees h5{
	color: white;
}

/* Form -------------------*/

.form{
	background-color: rgba(255,255,255,0.60);
	padding : 2rem 1rem;
}